<section id="thumbnails">
    {% for post in collections.posts %}
        <article>
            {% thumbnail post.data.image, post.data.title, post.data.image_position %}
            <h2>{{ post.data.title }}</h2>
            <p>{{ post.templateContent | safe }}</p>
        </article>
    {% endfor %}
</section>