<section id="thumbnails">
    {% for post in collections.post %}
        <article>
            <a class="thumbnail" href="{{ post.data.image }}" data-position="{{ post.data.image_position }}"><img src="{{ post.data.image }}" alt="{{ post.data.title }}" /></a>
            <h2>{{ post.data.title }}</h2>
            <p>{{ post.data.content }}</p>
        </article>
    {% endfor %}
</section>