<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ settings.site_name }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% set css %}{% include "assets/css/main.css" %}{% endset %}
        <style>{{ css | cssmin | safe }}</style>
        {% set noscript_css %}{% include "assets/css/noscript.css" %}{% endset %}
        <noscript><style>{{ noscript_css | cssmin | safe }}</style></noscript>
	</head>
	<body class="is-preload-0 is-preload-1 is-preload-2">

		<!-- Main -->
			<div id="main">

				<!-- Header -->
                <header id="header">
                    <h1>{{ settings.site_name }}</h1>
                    <p>{{ settings.site_description }}</p>
                    <ul class="icons">
                        {%- for link in settings.links -%}
                            <li><a href="{{ link.url }}" class="icon brands fa-{{ link.icon }}"><span class="label">{{ link.label }}</span></a></li>
                        {%- endfor -%}
                    </ul>
                </header>

				<!-- Thumbnail -->
                {%- include "components/thumbnails.njk" -%}

				<!-- Footer -->
                <footer id="footer">
                    <ul class="copyright">
                        {%- for entry in settings.copyright -%}
                            <li>{{ entry | safe }}</li>
                        {%- endfor -%}
                    </ul>
                </footer>

			</div>

		<!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/main.js"></script>

	</body>
</html>